/*loading加载动画*/
.spinner {
    margin: auto;
    width: 50px;
    height: 60px;
    text-align: center;
    font-size: 15px;
}

body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: Microsoft YaHei, Arial, Verdana, sans-serif;
}

body {
    background: #c1c1c1 no-repeat;
    padding-bottom: 50px;
    padding-top: 0;
}
ul{
    list-style: none;
}

li{
    list-style: none;
}